# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
.venv/
env/
.env/
ENV/

# Data and Databases
# data/raw/*.csv
# data/processed/*.csv
# *.db
# *.sqlite

# Machine Learning Models
# models/
# *.pkl
# *.joblib
# *.gbtree

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Notebook Checkpoints
.ipynb_checkpoints/

# Streamlit config
.streamlit/
